build
build-zlp-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/
ide
ide_deprecated
term_build
.cmake
.vs
.vscode
icons
CMakeLists.txt.user
CMakeLists.txt.user.396369f
CMakeLists.txt.user.4.10-pre1
CMakeSettings.json
*.autosave
GPATH
GRTAGS
GTAGS
